#cat-tablecontent {
    border: 0;
}

#collapse_testing {
    display: none;
}

#collapse_testing_active {
    transition: height 0.25s linear;
    height: 100%;
}

#Category-new-category-button {
    background-color: #32519F;
    box-shadow: rgb(0 0 0 / 11%) 0px 10px 10px 0px, rgb(0 0 0 / 4%) 0px 1px 30px 0px;
}

#cat-background-container {
    background-color: #22252D;
}

#search-category-input-title {
    background-color: #62C6CC;
    border: 0;
    opacity: 0.5;
}

#search-category-input-title:focus {
    outline: none;
    opacity: 1;
}

#category-searchicon {
    right: 2.5%
}

#categoriesrslt-container {
    background-color: transparent;
    box-shadow: 0px 15px 20px #3586a1;
    overflow: hidden;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#cat-title-o {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 0
}

#cat-title-row {
    margin: auto;
    width: 90%;
    position: relative;
}

#category-create-post-modal {
    background-color: #14213d;
    box-shadow: 0px 0px 10px black;
}

.border1theme {
    border: 1px solid #35887E;
}

.purple {
    color: #62C5FB
}

#Modal-done-button {
    background-color: transparent;
    border: 0;
}

#admin-cat-button--active {
    background-color: #14213d !important;
    color: #41EDEA !important;
    font-weight: 500;
    outline: none;
    border: 0;
    box-shadow: 0px 1px 10px #3586a1;
}

#admin-cat-button {
    background-color: unset !important;
    outline: none;
    border: 0;

}

#close-icon {
    background: unset;
    width: 1.5rem;
    height: 1.5rem;
    right: 5%;
    top: 35%;
    opacity: 1;
}

.react-datepicker__close-icon::after {
    line-height: 0.3;
    outline: none;
}

#cat-subtablecontent {
    border: 0;
    width: 20%;
}

.one_line_css {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#categories-tag-input {
    background-color: #2E3139;
    color: white;
    outline: unset;
    box-shadow: unset;
}

#back-icon {
    background: unset;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 4%;
    top: 35%;
    opacity: 1;
}

#data-tablecontent {
    background-color: #2E3139;
    color: white;
    outline: unset;
    box-shadow: unset;
}

#iconhover:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .1), 0 0 20px rgba(255, 255, 255, .15);
    animation: infinite-spinning 1s ease-out 0s infinite normal;
}

#course-collegelist {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* #course-collegelist>button:focus-within {
    background-color: #32519F !important;
} */

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 1054px) {
    #category-backgroundweh {
        overflow-y: hidden;
    }

    #cat-background-container {
        width: 50rem;
    }

    #cat-maxwidth {
        max-width: unset;
    }

    #category-backgroundweh {
        background-color: #22252D !important;
    }

    #categoriesrslt-container {
        width: 48.5rem;
    }
}