.amedegrebannersection {
    position: relative;
    margin: 0 auto;
    background-color: black;

}

.amedegrebannerpicture {
    background-blend-mode: darken;
    background-size: cover;
    opacity: 0.35;
}

.amedegrebannerwords {
    position: absolute;
    top: 50%;
    color: white;
    text-align: right;
    padding-right: 10%;
    width: 100%;
}

.amedegrebannerwordsh1 {
    text-transform: uppercase;
    font-size: 48px;
}

.amedegrebannerwordsh2 {
    text-transform: uppercase;
}

.amedegrebannerwordsh3 {
    font-size: 20px;
}

.amedegre-secpartprofilepicture {
    margin-top: 3%;
    margin-bottom: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.amedegre-buttonforprogramme {
    background-color: #A41F36;
    border: 2px solid #A41F36
}

.amedegre-buttonforprogramme:hover {
    background-color: #A41F36;
    border: 2px solid red
}

.amedegre-secondpart {
    padding-top: 5%;
}

.amedegre-secondpart-sub {
    display: flex;
    align-items: center;
}

.amedegre-secondpart-first{
    left: 40px;
    position: relative;
}

.amedegre-secondpartwwo{
    font-weight: bold;
}

.amedegre-secondpartsup{
    text-align: center;
    font-weight: 700;
}

.amedegre-secondpartgse {
    color: #CFC2C2;
}

.amedegre-secondpart-p {
    text-align: justify;
    font-weight: 600;
}

.amedegre-blacklineforamerica {
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 10%;
}

.amedegre-squareinsecondpar-section {
    padding-top: 60px;
}

.amedegre-squareinsecondpart {
    height: auto;
    width: auto;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    left: 90px;
    z-index: 100;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
}

.amedegre-squareinsecondpart-title{
    font-weight: bold;
    font-size: 15px;
}

.amedegre-squareinsecondpart-para{
    color: #9B9191;
}

.amedegre-threeicon-secondpart{
    width: 25%
}
  
.amedegre-readmorebutton {
    border: 2px solid black;
    color: black;
}

.amedegre-secondpartwwwo {
    font-weight: 600;
}

.amedegre-secondpartpictureright {
    padding-right: 0px;
}

.amedegre-greyrectengle {
    height: auto;
    width: auto;
    background-color: #949494;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.amedegre-greyrectenglerightside {
    padding-top: 5%;
    padding-bottom: 5%;
}

.amedegre-heartsec{
    text-align: center;
}

.amedegre-heartpic {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.amedegre-knowlege{
    text-align: center;
}

.amedegre-number1 {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.amedegre-aguy {
    margin-left: auto;
    margin-right: auto;
    width: 67%;
}

 
@media only screen and (min-width: 280px) and (max-width: 599px) {

    .amedegrebannerwords {
        top: 40%;
        text-align: center;
        padding-right: 0px;
    }

    .amedegrebannerwordsh1 {
        font-size: 40px;
    }

    .amedegre-squareinsecondpart {
        width: 100%;
    }

    .amedegre-squareinsecondpar-section {
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {

    .amedegre-secpartprofilepicture {
        width: 30%;
    }

    .amedegre-secondpart-p {
        font-size: 18px;
    }

    .amedegre-secondpartsup {
        font-size: 23px;
        padding-bottom: 23px;
    }

    .amedegre-squareinsecondpart {
        width: 75%;
    }

    .amedegre-readmorebutton {
        font-size: 25px;
    }
    
    .amedegre-squareinsecondpart-title {
        font-size: 23px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 280px) and (max-width: 991px) {

    .amedegrebannerpicture-pic {
        height: 530px;
        width: auto;
        object-fit: cover;
    }

    .amedegrebannersection-container {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .amedegrebannerwords {
        top: 40%;
    }

    .amedegrebannerwordsh3 {
        font-size: 16px;
    }

    .amedegre-secondpart-p {
        padding: 1rem 1rem;
    }

    .amedegre-readmorebutton {
        margin-bottom: 50px;
    }

    .amedegre-readmorebutton-con{
        text-align: center;
    }

    .amedegre-secondpart-first {
        left: 0px;
    }

    .amedegre-squareinsecondpar-section {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .america-pic-showornot {
        display: none;
    }

    .amedegre-greyrectengle {
        padding-top: 30px;
    }

    .amedegre-number1 {
        width: 50%;
    }

    .amedegre-aguy{
        display: none;
    }

    .amedegre-squareinsecondpart {
        left: 0px;
    }

    .amedegre-blacklineforamerica {
        margin-top: 7%;
        margin-bottom: 10%;
        border: 1px white;
    }

    .amedegre-secondpartwwo-sec {
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

}

@media only screen and (min-width: 769px) and (max-width: 991px) {

    .amedegrebannerwordsh2 {
        font-size: 20px;
    }

    .amedegrebannerwordsh1 {
        font-size: 30px;
    }

    .amedegre-readmorebutton-con {
        text-align: center;
    }

    .amedegre-secpartprofilepicture {
        width: 25%;
    }

    .amedegre-secondpartsup {
        font-size: 30px;
        padding-bottom: 31px;
    }

    .amedegre-secondpart-p {
        font-size: 20px;
    }

    .amedegre-readmorebutton {
        font-size: 30px;
    }
    
    .amedegre-squareinsecondpart {
        max-width: 50%;
    }

    .amedegre-squareinsecondpart-title {
        font-size: 25px;
    }

    .amedegre-squareinsecondpart-para {
        font-size: 20px;
    }

    .american-degree-providing {
        font-size: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .amedegrebannerwords {
        position: absolute;
        top: 180px;
        color: white;
        text-align: right;
        padding-right: 10%;
        width: 100%;
    }

    .amedegrebannerwordsh3 {
        font-size: 18px;
    }

    .amedegre-squareinsecondpar-section {
        padding-top: 0px;
    }

    .amedegre-squareinsecondpart-para {
        font-size: 14px;
    }

    .amedegre-secondpartsup {
        font-size: 20px;
    }

    .amedegre-secondpartgse {
        font-size: 12px;
    }

    .amedegre-secondpartsup2 {
        font-size: 15px;
    }

    .amedegre-secondpart-p {
        font-size: 12px;
        text-align: center;
    }

    .amedegre-aguy {
        width: 86%;
    }

    .amedegre-number1 {
        width: 60%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    
    .amedegre-squareinsecondpart-para {
        color: #9B9191;
        font-size: 12px;
    }

    .amedegre-aguy {
        width: 73%;
    }

    .amedegre-blacklineforamerica {
        border: 1px solid black;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

