.BA-Banner { 
  background: rgba(89, 109, 116, 0.65) url('../../assets/images/Business_And_Accounting/B_A_Banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  top: 0;
}

@media only screen and (max-width: 1400px) {
  .BA-bannerContent-res{
          font-size: 16px; 
          color: white; 
          width: 30%; 
          margin-top: 10px;
      }
  .BA-Section-1-Content{
      width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .BA-bannerContent-res{
          font-size: 16px; 
          color: white; 
          width: 60%; 
          margin-top: 10px;
      }
  .BA-Section-1-Content{
      width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .BA-bannerContent-res{
          font-size: 16px; 
          color: white; 
          width: 100%; 
          margin-top: 10px;
      }
  .BA-Section-1-Content{
      width: 100%;
  }
}

.BA-Section-Text-Left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

.BA-Section-1-img {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 90%;
}

.BA-Section-1-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: justify;
}

.BA-Section-1-gif {
  width: 100%; 
  height: 100%;
}

.BA-Section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
}

.BA-Section-2-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: justify;
}

.BA-gifImg {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.BA-gifImg1 {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  bottom: 20%;
  right: 40%;
}

.BA-image1 {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.BA-image2 {
  min-width: 300px;
  min-height: 300px;
  width: 80%;
  height: 80%;
  text-align: center;
}

.BA-image3 {
  width: 50px;
  height: 50px;
}

.BA-image4 {
  width: 150px;
  height: 150px;
}

.BA-bgColor{
  background-color: rgb(131, 143, 151);
}

