.first-content1 {
    font-size: 16px;
    color: white;
    margin-top: 10px;
}

.CA-Section-1-Title {
    font-size: 20px;
    margin-bottom: 1rem;
}

.CA-Section-1-pic {
    width: 80%;
    height: 100%;
}

.CA-Section-1-Content {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 2.2rem;
}

.CA-Section-1-left {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
}

.container.CA-Section-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    max-width: unset;
}

.CA-horizontal {
    width: 9rem;
    height: 3px;
    background-color: #DBD0E3;
}

.CA-goldaward {
    padding: 1rem 0;
}

.CA-viewmore {
    margin-top: 1rem;
    text-align: right;
}

.CA-section2-container {
    max-width: 75%;
}

.CA-section-2_STUDENT {
    font-weight: 800;
    color: #B3B4B3;
    font-size: 1.5rem;
}

.CA-Section-2-pic1 {
    width: 70%;
}

.CA-Section-2-pic2 {
    width: 65%;
}


.CA-section-2_ARTWORKS {
    font-weight: 800;
    color: black;
    font-size: 1.7rem;
}

.CA-section2-container {
    padding: 0 3rem
}

@media only screen and (max-width: 1400px) {
    .first-content1 {
        font-size: 16px;
        color: white;
        width: 30%;
        margin-top: 10px;
    }

    .CA-Section-1-Title {
        font-size: 18px;
    }

    .CA-Section-1-Content {
        width: 90%;
        font-size: 16px;
        margin-bottom: 1.4rem;

    }

    .CA-Section-1-pic {
        width: 100%;
        height: 100%;
    }

    .CA-section-2_STUDENT {
        font-size: 1.3rem;
    }

    .CA-section-2_ARTWORKS {
        font-size: 1.5rem;
    }

    .CA-Section-2-pic1 {
        width: 90%;
    }

    .CA-Section-2-pic2 {
        width: 80%;
    }

    .CA-name {
        font-size: 0.9rem !important;
    }

    .CA-goldaward {
        font-size: 1.2rem !important;
        padding: 0.8rem 0
    }

    .CA-section2-container {
        padding: 0 2.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .first-content1 {
        font-size: 16px;
        color: white;
        width: 30%;
        margin-top: 10px;
    }

    .CA-Section-1-Title {
        font-size: 16px;
        margin-bottom: 0.8rem;

    }

    .CA-Section-1-Content {
        width: 90%;
        font-size: 14px;
        margin-bottom: 1.4rem;
    }

    .CA-section2-container {
        padding: 0 2rem !important
    }

    .CA-Section-2-pic2 {
        width: 82%;
    }

    .CA-section-2_STUDENT {
        font-size: 1.1rem;
    }

    .CA-section-2_ARTWORKS {
        font-size: 1.3rem
    }
}

@media only screen and (max-width: 930px) {
    .first-content1 {
        font-size: 16px;
        color: white;
        width: 60%;
        margin-top: 10px;
    }

    .CA-Section-1-Title {
        width: 90%;
        font-size: 16px;
    }

    .CA-Section-1-left {
        width: 100%;
    }

    .CA-Section-1-Content {
        width: 95%;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .CA-Next {
        font-size: 1rem;
    }

    .CA-name {
        margin-top: 2rem;
    }

    .CA-goldaward {
        padding: 0.5rem 0;
    }

    .CA-viewmore {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 824px) {
    .CA-Section-2 {
        padding: 0
    }

    #section2-gg1 {
        position: relative;
        max-width: unset;
        justify-content: center;
    }

    #section2-relative-column {
        min-width: 100%;
        padding: 0;
        width: 100%;
        position: relative;
    }

    #section2-student-artwork-row {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 101;
    }

    .CA-Section-2-pic1 {
        background-color: rgba(0, 0, 0, 1);
        opacity: 0.9;
    }

    #section2-kelefe-1 {
        display: none !important;
    }

    #section2-bottom-row {
        align-items: flex-start !important;
        position: absolute;
        left: 1%;
        bottom: 5%;
        z-index: 101;
    }

    #section2-next-row {
        display: none !important;
    }

    #section2-bottom-row {
        align-items: flex-start !important;
    }

    #section2-bottom-text {
        align-items: flex-start !important;
    }

    .CA-Section-2-pic1 {
        width: 100%;
    }

    #section2-gg1 {
        max-width: 100% !important;
        width: 100%;
    }

    #CA-section2-container {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 800px) {
    .first-content1 {
        font-size: 16px;
        color: white;
        width: 60%;
        margin-top: 10px;
    }

    .CA-Section-1-Title {
        width: 90%;
        font-size: 14px;
    }

    .CA-Section-1-Content {
        width: 95%;
        font-size: 12px;
    }
}



@media only screen and (max-width: 600px) {
    .first-content1 {
        font-size: 16px;
        color: white;
        width: 100%;
        margin-top: 10px;
    }

    .CA-Section-1-Content {
        width: 100%;
    }

    .CA-Section-1 {
        margin-top: 1rem
    }

    .CA-Section-1-right {
        padding-top: 1.2rem;
    }
}

.CA-Section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    min-width: 90%;
}

.CA-Section-1-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}



.CA-Section-3-left {
    display: flex;
}

.CA-Section-3-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.CA-Section-3-img {
    width: 80%;
    height: 100%;
}

.CA-Section-4 {
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.CA-Section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.CA-Section-5-left {
    display: flex;
    justify-content: flex-end;
}

.CA-Section-5-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.CA-Section-5-img {
    width: 100%;
    height: 100%;
}

.CA-Section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background: #fff1cc;
}

.CA-Section-6-left {
    display: flex;
    justify-content: flex-end;
}

.CA-Section-6-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .CA-Section-6-img { 
      background: url('../../../assets/images/Early_Childhood_Education/normalpic.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  } */

.CA-Section-6-img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    #section2-relative-column {
        margin: 0
    }
}

@media only screen and (max-width: 460px) {
    #section2-relative-column {
        margin: 0
    }

    #section2-bottom-row {
        padding: 0
    }
}

@media only screen and (max-width: 382px) {
    #section2-student-artwork-row {
        top: 0;
        padding-top: 1rem !important
    }

    .CA-name {
        margin: 0;
        font-size: 0.7rem !important;
    }

    .CA-goldaward {
        padding: 0.3rem 0
    }

    .CA-viewmore {
        padding: 0.3rem 0;
        margin-top: 0.3rem;
        font-size: 0.6rem;
    }
}