.Hsp-banner1 {
  background: #62A6A1 url('../../assets/images/Hospitality/Introback.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  top: 0;
}

.Hsp-header {
  font-size: 16px;
  color: white;
  width: 30%;
  margin-top: 10px;
}

.Hsp-container{
 padding: 0 30rem;
} 

.Hsp-imgborder {
  flex: 1;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4rem;
}

.Hsp-iconimg {
  width: 20rem;
  height: 13.5rem;
  padding: 2rem 3rem;
  box-shadow: 1px 3px 1px #9e9e9e;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  background-color: white;
}

.Hsp-first-section-img {
  width: 5.5rem;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.Hsp-first-section-font {
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.Hsp-content-header{
  font-size: 30px;
  padding: 2rem 0rem 2rem 0rem;
 }

.Hsp-SEGI-content {
  text-align: justify;
}

.Hsp-ehancesskillsimg {
  max-width: 1200px;
  max-height: 600px;
  width: 100%;
  height: 65%;
  text-align: center;
}

.Hsp-container2{
  padding:0 20rem;
}

.Hsp-partnershipshotel {
  background-color: #E3F4EE;
  width: 100%;
}

.Hsp-partner {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.Hsp-partnerhotel {
  object-fit: cover;
  width: 100%;
  height: 171px;
  border-radius: 12px;
}

.Hsp-bodytxt {
  font-size: 1rem;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}

.Hsp-style-image2 {
  padding: 100px 0px;

}

.Hsp-backimg {
  min-width: 200px;
  min-height: 200px;
  width: 70%;
  height: 80%;
  position: relative;
  display: inline;
  text-align: right;
  top: 0;
  left: 20%;
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

.Hsp-frontimg {
  min-width: 200px;
  min-height: 200px;
  width: 55%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

.Hsp-faculties {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background: #D7E3EE;
}

.Hsp-faculties-img {
  width: 100%;
}

.Hsp-faculties-img-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (max-width: 1889px) {
  .Hsp-container{
    padding: 0 25rem;
   } 
   .Hsp-container2{
    padding:0 25rem;
   }
}

@media only screen and (max-width: 1754px) {
  .Hsp-container{
    padding: 0 21rem;
   } 
   .Hsp-container2{
    padding:0 21rem;
   }
}

@media only screen and (max-width: 1608px) {
  .Hsp-container{
    padding: 0 19rem;
   } 
   .Hsp-container2{
    padding:0 19rem;
   }
}

@media only screen and (max-width: 1531px) {
  .Hsp-container{
    padding: 0 17rem;
   } 
   .Hsp-container2{
    padding: 0 17rem;
   }
}

@media only screen and (max-width: 1531px) {
  .Hsp-container{
    padding: 0 12rem;
   } 
   .Hsp-container2{
    padding: 0 12rem;
   }
}

@media only screen and (max-width: 1314px) {
  .Hsp-container{
    padding: 0 10rem;
   } 
   .Hsp-container2{
    padding: 0 10rem;
   }
}

@media only screen and (max-width: 1250px) {
    .Hsp-container{
      padding: 0 9rem;
    } 
    .Hsp-container2{
      padding: 0 9rem;
     }
}


@media only screen and (max-width: 1214px) {

   .Hsp-container{
    padding: 0 7rem;
  }
  
  .Hsp-container2{
    padding: 0 7rem;
  }
  
  .Hsp-iconimg {
    width: 15rem;
    height: 13rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 4rem;
    height: 3.5rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1118px) {
  .Hsp-container{
    padding: 0 12rem;
  }
  
  .Hsp-container2{
    padding: 0 12rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 4rem;
    height: 3.5rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1072px) {
  .Hsp-container{
    padding: 0 11rem;
  }
  
  .Hsp-container2{
    padding:0 11rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1056px) {
  .Hsp-container{
    padding: 0 11rem;
  }
  
  .Hsp-container2{
    padding:0 11rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1041px) {
  .Hsp-container{
    padding: 0 10rem;
  }
  
  .Hsp-container2{
    padding:0 10rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1009px) {
  .Hsp-container{
    padding: 0 9rem;
  }
  
  .Hsp-container2{
    padding:0 9rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 991px) {
  .Hsp-container{
    padding: 0 7rem;
  }
  
  .Hsp-container2{
    padding:0 7rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .Hsp-partnerhotel {
    object-fit: cover;
    width: 100%;
    height: 171px;
    border-radius: 12px;
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 918px) {
  .Hsp-container{
    padding: 0 5rem;
  }
  
  .Hsp-container2{
    padding:0 5rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 856px) {
  .Hsp-container{
    padding: 0 3rem;
  }
  
  .Hsp-container2{
    padding:0 3rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12.5rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 788px) {
  .Hsp-container{
    padding: 0 1rem;
  }
  
  .Hsp-container2{
    padding:0 1rem;
  }

  .Hsp-iconimg {
    width: 13rem;
    height: 12rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
}
 
@media only screen and (max-width: 625px) {
  .Hsp-container{
    padding: 0 1rem;
  }
  
  .Hsp-container2{
    padding:0 1rem;
  }

  .Hsp-iconimg {
    width: 12rem;
    height: 10rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 577px) {
  .Hsp-container{
    padding: 0 1rem;
  }
  
  .Hsp-container2{
    padding:0 1rem;
  }

  .Hsp-iconimg {
    width: 12rem;
    height: 10rem;
    padding: 2rem 3rem;
    margin: 1rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.6rem;
  }
}


@media only screen and (max-width: 526px) {

  .Hsp-container{
    padding: 0 3rem;
  }
  
  .Hsp-container2{
    padding: 0 3rem;
  }

  .Hsp-iconimg {
    width: 15rem;
    height: 12rem;
    margin: 1rem;
    padding: 2rem 3rem;
    box-shadow: 1px 3px 1px #9e9e9e;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: white;
  }
  
  .Hsp-first-section-img {
    width: 3.5rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .Hsp-first-section-font {
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 0.5rem;
  }

  .Hsp-SEGI-content {
    text-align: justify;
    font-size: small;
  }

  .Hsp-content-header{
    font-size: 20px;
    padding: 2rem 0rem 2rem 0rem;
   }
}




