.Hsp-banner1{
  background: #62A6A1 url('../../assets/images/Hospitality/Introback.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  top: 0;
}

.Hsp-header{
  font-size: 16px; 
  color: white; 
  width: 30%; 
  margin-top: 10px;
}

.Hsp-imgborder{
  border: 1px black;
  border-style: solid ;
  border-radius: 8px;
  box-shadow: 0px 5px #888888;
  
}

.Hsp-iconimg{
  text-align: center;
  margin: 25px 25px 25px 25px;
    
}

.Hsp-SEGI-content{
  text-align: justify;
}

.Hsp-ehancesskillsimg{
  max-width: 1200px;
  max-height: 600px;
  width: 100%;
  height: 65%;
  text-align: center;
}

.Hsp-partnershipshotel{
  background-color: #E3F4EE;
  width: 100%;
}
  
.Hsp-style-header{
  padding: 60px 0px;

}

.Hsp-partner{
  position: relative;
  text-align: center;
}

.Hsp-partnerhotel{ 
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 30px;
  position: relative;
}

.Hsp-bodytxt{
    color: black;
    text-align: center;

}

.Hsp-style-image2{
  padding: 100px 0px;

} 

.Hsp-backimg{
min-width: 200px;
min-height: 200px;
width: 70%;
height: 80%;
position: relative;
display: inline;
text-align: right;
top: 0;
left: 20%;
border: 6px solid rgba(255, 255, 255, 0.8);
border-radius: 30px;
}

.Hsp-frontimg{
  min-width: 200px;
  min-height: 200px;
  width: 55%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  border: 6px solid rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

.Hsp-faculties {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  background: #D7E3EE;
}

.Hsp-faculties-img {
  width: 100%;
} 

.Hsp-faculties-img-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
