.LandingBackgroud{
    padding: 3em;
}

figcaption{
    font-size: 0.7rem;
}
.Landing_Textstyle{
    font-size: 16;
    color: #9E8D8D;
    text-align:center; 
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.Imglayout{
    width: 100%;
    border-radius: 1rem;
}

.ListContainer{
    justify-content: center;
}

.University{
    display: flex;
    height: 50%;
    width: 100%;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Uni_Description{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.75rem;
    box-shadow: 1px 3px 1px #808080;
}

.Uniimg{
    width: 100%;
    border-radius: 1rem;
}

.Logosize{
    padding-top: 10px;
    width: 80%;
}

.Logosize2{
    padding-top: 5px;
    width: 50%;
    background: transparent;
}

.uniBodyAlign {
    align-self: center;
}

.landingBanner {
    background: blue;
    height: 550px;
}

.bannerImg_Landing {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
