html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.Law-Section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-left: 45%;
  width: 80%;
  text-align: justify;
  }
  .Law-Section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6rem;
    margin-left: 23%;
    width: 60%;

  }
  
  .Law-Section-2-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10%;
  }
  
  .Law-Section-2-right {
    display: flex;
  }
  
  .Law-Section-2-img {
    
    height: 100%;
  }


.Lawborder1{
  display: flex;
  flex-wrap: wrap;
}

 /* Achievement Map */
.LawOfachievement{
  position: relative;
margin-top: 5rem;
text-align: center;
display: flex;
flex-direction: column;
}
.Mapsoflaw{
  width: 40%;
  height: 60vh;
  margin-top: 4rem;
  margin-left: 28%;

}

/* Container1 - What is Law */

/* Card Decks */
.LawDecks{
position: relative;
width: 100%;
margin-top: 8%;

display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.Lawcard-deck{


display: flex;
  

font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
text-align: center;

color: #000000;
}
.Lawcard-deck2{
  

  display: flex;
  

font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
align-items: center;
text-align: center;

color: #000000;
}
.Lawcard-deck3{

  display: flex;
  

font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 22px;
align-items: center;
text-align: center;

color: #000000;
}

.Law-Section-6 {

display: flex;
flex-direction: column;
align-items: center;
margin-top: 1rem;
background: rgba(196, 196, 196, 0.92);
}
.Law-Section-6-img{
width: 100%;
height: 100%;

}


/* Tabs */
.LawCarousel{
height: auto;
width: auto;
background-color: rgba(196, 196, 196, 0.92);
margin-top: 5%;
margin-bottom: 5%;
color: black;
}


.law-bannerimg01 {
width: 35vw;
height: 100%;
opacity: 1;
margin-right: 1%;

}




@media only screen and (max-width: 1200px) { 
}

@media only screen and (max-width: 992px) { 
  .Mapsoflaw{
    width: 90%;
    height: 30vh;
    margin-left: 4%;
  }

}
@media only screen and (max-width: 768px) { 
  .Mapsoflaw{
    width: 80%;
    margin-left: 6%;
  }
}

@media only screen and (max-width: 576px) { 

  .Law-Section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1%;
    width: 100%;
        
  }
  .Law-Section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10%;
    width: 80%;
  }
  .Law-Section-2-right {
    
    margin-left: 20%;
  }

.orange{
height: 80vh;
flex-direction: row;
}
.law-bannerimg01 {
display: none;

}
.law-navtab{
width: 83vw;
}
.col-6{
margin-left: 5%;
}
.law-tabcontent{
margin-top: 2rem;
width: 120%;
}


.Law-Section-6 {

display: flex;
flex-direction: column;
align-items: center;
margin-top: 2rem;
background: rgba(196, 196, 196, 0.92);
}

.Law-Section-6-left {
display: flex;
justify-content: flex-end;
}

.Law-Section-6-right {
display: flex;
flex-direction: column;
height: 100%;

padding-left: 1rem;
padding-right: 1rem;

}
.Law-Section-6-img {
width: 100%;
}
.Mapsoflaw{
  width: 100%;
  margin-left: 0%;
}


}
@media only screen and (max-width: 415px) { 

.Mapsoflaw{
  width: 90%;
  height: 30vh;
  margin-left: 4%;
}

}

@media only screen and (max-width: 376px) { 
  
  
  .LawDescription1{
    font-size: 14px;
  }
 
  .Mapsoflaw{
    width: 90%;
    height: 35vh;
    margin-left: 6%;
  }
  }
@media only screen and (max-width: 281px) { 
  .Law-Section-2-right {
    
    margin-left: 0%;
  }

  
  .Lawborder1{
    
    margin: 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .Mapsoflaw{
    width: 100%;
    height: 30vh;
    margin-left: 1%;
    
  }
  .Lawimage2{
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .LawDescription1{
    display: flex;
    flex: 1;
    max-width: 100%;
  }
}

