.musicintro-backgroundBanner { 
    background: rgba(54, 54, 54, 0.3) url('../../assets/images/Music/image_200.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    top: 0;
}

/* .a{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30%;
    text-align: left;
    padding-right: 10%;
    width: 100%;
    color: black;
} */

/* .programmusic{
    position: relative;
    color: black;
} */

.musicintrobannerimg01{
    
    width: 100%;
    height: 700px;
}

.musicintrobannergif01{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

.musicintrosection02{
    margin-top: 80px;
    margin-bottom: 80px;
}

.musicintrosection03{
    margin-top: 80px;
    margin-bottom: 80px;
}

.musicintrotextsection02{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10%;
}

.musicintrosection04{
    margin-top: 80px;
    margin-bottom: 80px;
}

.musicintrobannerimg02{
    
    width: 100%;
    
}

.style30px{
     width:30%;
}

.musicpic09{
    width: 200px;
    height: 200px;
}

.musicintrosectionbutton{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.bannerimg03{
    width: 100%;
    
}

.musicintrobannerimg04{
    width: 100%;
    
}

.musicintroback04{
    height: auto;
    width: auto;
    background-color: black !important;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black !important;
}

.musicintro-Container5{
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
}

.musicintro-navtab{
    overflow: hidden;
    margin-top: 90px;
    margin-bottom: 40px;
    color: white;
    display: flex;
}

.musicintro-Container5-ico {
    padding-right: 20px;
}


.musicintro-navtab {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 00px;
}

.musicintro-tabeach {
    font-size: 16px;
    color: white;
    padding-right: 40px;
    font-size: 18px;
    font-weight: bold;
}

.blacklineformusicintro-tabcontent {
    border: 1px solid white;
  }

.musicintro-tabcontent {
    padding-top: 15px;
    margin-bottom: 50px;
    color: white;
  }

.musicintro-tabcontent-p{
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding-bottom: 15px;
}

.musicintro-bannerimg01 {
    width: 100%;
    
}

.musicintro-tabeach-line {
    text-decoration: underline 3px;
    color: white;
}

.btnseemore{
    text-align: right;
    padding-right: 10%;
}

.fab-container{
    position:fixed;
    bottom:50px;
    right:50px;
    cursor:pointer;
}

.iconbutton{
    width:50px;
    height:50px;
    border-radius: 100%;
    background: #FF4F79;
   
}
        
.button{
    width:60px;
    height:60px;
    background:#A11692;
}

.iconbutton i{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    color:white;
    font-size: 30px;
}

.options li{
    display:flex;
    justify-content:flex-end;
    padding:5px;
}


.options{
    list-style-type: none;
    position:absolute;
    bottom:70px;
    right:0;
}

.btn-label{
    padding:2px 5px;
    margin-right:10px;
    align-self: center;
    user-select:none;
    background-color: black;
    color:white;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

    /* list-style-type: none;
position:absolute;
bottom:70px; */

/* .nav-tabs .nav-item .nav-link {
    margin-top: 90px;
    margin-bottom: 40px;
    background-color: black;
    color: #FFF;
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color: #0080FF;
  }
  
  .tabcontent {
    display: none;
    border: 1px solid white;
    border-top: transparent;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
  }
  
  .tabcontent  {
    background-color: black;
    color: white;
    min-height: 200px;
    height: auto;
  }

  .navtab{
    overflow: hidden;
    margin-top: 90px;
    margin-bottom: 40px;
    background-color: black;
    color: #FFF;
     }

 .tab button.active{
     background-color: #0080FF;
 } */

.musicintrosection04{
    color: white;
}

.musicgroup01{
    text-align: center;
    min-width: 350px;
    min-height: 350px;
    width: 80%;
    height: 80%;

}

.musicintrocontainer01{
    text-align: center;
}
 
@media only screen and (max-width: 600px) {
   .musicintrosection04{
       font-size :0.8rem;
       color:white;

}
}