.IT_intro_search {
  display: flex;
  flex: 1;
  padding: 5rem;
}

.IT_INTRO_SEARCH_CAMPUS_BUTTON {
  width: 2.5rem;
  background-color: #ACACAC;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 2rem;
}

.IT_INTRO_SEARCH_CAMPUS_word {
  margin: 0;
  padding: 0.5rem;
}

.Search-Page-Value {
  font-size: 1rem;
  color: #7D7D7D;
  font-Weight: 500
}

.Search-Page-Attribute {
  font-Weight: 500;
  font-Size: 1rem
}

.Search-Page-Title {
  font-size: 1.25rem;
}

.Search-Page-TotalResult {
  margin-Bottom: 2rem;
  font-Weight: 500;
  font-Size: 1.25rem
}

.Search-Page-Cotent-Button {
  display: flex;
  flex: 1;
  justify-Content: flex-end;
  align-items: flex-end;
}

.Search-Page-Cotent-Button>button {
  background-color: #A71337;
  width: 50%;
  height: 40%;
  color: #FFF;
  font-size: 1.2rem;
  box-shadow: 2px 3px 5px #9e9e9e;
  border: none;
}

.Search-Page-Cotent-Button2 {
  display: flex;
  flex: 1;
  justify-Content: flex-end;
  align-items: flex-end;
}

.Search-Page-Cotent-Button2>button {
  background-color: #010637;
  width: 50%;
  height: 40%;
  color: #FFF;
  font-size: 1.2rem;
  box-shadow: 2px 3px 5px #9e9e9e;
  border: none;
}

.Search-Page-Attribute-Container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.Search-Page-Attribute-LeftContent {
  display: flex;
  flex: 4;
  flex-direction: column;
}

.Search-Page-Attribute-ButtonSide {
  display: flex;
  flex: 1;
  flex-direction: column;
}