#background-profile {
    background-image: url('../../../assets/images/Admin_Panel/road.jpg');
    background-size: cover;
}

#background-profile::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#ambg {
    z-index: 101;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.our_theme_color {
    color: #62C6CC
}

.our_theme_title {
    color: #41EDEA
}

#background-profile-clr {
    background-color: #14213d;
    padding: 0;
}

#background-profile-card {
    box-shadow: 0px 15px 20px #3586a1;
    padding: 0;
    margin: 0;
    border-radius: 0.25rem;
    overflow: hidden;
}

#testingprofilecontainer {
    padding: 0
}

#password-width-container {
    max-width: 50%;
}

#sayhi {
    margin-left: auto;
    margin-right: auto;
}

#width-bg {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#pro-background-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#user-footer {
    border: 0
}

#close-icon {
    background: unset;
    width: 1.5rem;
    height: 1.5rem;
    right: 5%;
    top: 35%;
    opacity: 1;
}

#create-post-modal-header {
    border: 0
}

#background-password-background {
    background-color: #14213d;
    box-shadow: 0px 15px 20px #3586a1
}

#profile-user-avatar {
    object-fit: cover;
    width: 8rem;
    height: 8rem;
    padding: 0;
}

#profile-font {
    font-size: 0.8rem;
}

#profilemodal-user-avatar {
    object-fit: cover;
    width: 9rem;
    height: 9rem;
}

#shape2 {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 80 500;
    stroke-dashoffset: 120;
    transition: 1s all ease;
}

#upload-button {
    background-color: #22252D
}

.ps-spot {
    color: white
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 300px;
    height: 55px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 80 500;
    stroke-dashoffset: 110;
    transition: 1s all ease;
}

.svg-wrapper:hover #shape2 {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}

#Upload-Profile-Button {
    background: transparent;
    outline: 0;
    box-shadow: unset;
}

#profile-text-input {
    background: transparent;
    border: 2.5px solid #2E3139;
    color: white;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 11%), 0 1px 30px 0 rgb(0 0 0 / 14%)
}

#button-boxshadow {
    font-weight: 600;
}



#spanalignment {
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

.btn-two {
    box-shadow: unset !important;
    position: relative;
    color: #41EDEA;
    width: 120px;
    height: 50px;
    transition: all 0.3s;
}

#pro-background-container {
    background-image: url('../../../assets/images/Admin_Panel/bg-2.jpg');
    background-size: cover;
}

#pro-background-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.15);
}

.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.paginationbtn {
    position: relative;
}

.btn-two::before, .btn-two::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    bottom: 0;
    left: 10%;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid #41EDEA;
    border-radius: 0.15rem;
}

.btn-two:hover::after {
    animation-name: rotatecw;
    animation-duration: 2s;
}

.btn-two:hover::before {
    animation-name: rotateccw;
    animation-duration: 3s;

}

.btn-two:hover {
    color: rgba(255, 255, 255, 0.5);
}

.btn-two:hover::after, .btn-two:hover::before {
    left: 35px;
    width: 50px;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotatecw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateccw {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@media only screen and (max-width: 1191px) {
    #background-profile-card {
        width: 70%;
    }

    #background-profile {
        width: 100%;
    }

    #border-bottom-dark {
        width: 100%;
        border: 0;
        padding: 1.5rem 0.5rem !important;
    }

    #background-profile-ui {
        width: 100%;
    }

    #profile-title {
        text-align: center;
    }

    #font-try-center {
        text-align: center;
        margin-bottom: 2rem !important;
    }

    #font-content-text {
        text-align: center;
        overflow-wrap: anywhere;
        padding-bottom: 0.5rem !important;
    }

    #testingprofilecontainer {
        width: 70%;
        max-width: unset !important;
        padding: 0;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 800px) {
    #background-profile-card {
        width: 80%;
    }

    #testingprofilecontainer {
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    #background-profile-card {
        width: 85%;
    }

    #testingprofilecontainer {
        width: 100%;
    }

    #font-content-text {
        font-size: 0.8rem !important;
    }

}

@media only screen and (max-width: 500px) {
    #background-password-background {
        padding: 1.5rem !important;
    }

    #reset-profile-title {
        font-size: 1.3rem !important;
    }

    #reset-profile-content {
        font-size: 0.8rem !important;
    }

    #testingprofilecontainer {
        margin-top: 2rem !important
    }

}